include LICENSE
include pandas_profiling_study/view/*.mplstyle
recursive-include pandas_profiling_study/view/templates *.html
recursive-include pandas_profiling_study/view/templates/assets *.js *.css
include pandas_profiling_study/config_default.yaml
include README.md
